/* Styles des divisions principales de la page */
body{  
	background-image: url(imgs/FONDGLOBAL.jpg);
	background-repeat: repeat-x;
  margin:0% 0%;
  padding : 0.6em;
  font-family:"Trebuchet MS",Verdana,Geneva,Arial,Helvetica,sans-serif;
  font-size:0.8em;
}
#page {  
  width : 65%;
  margin : auto ;
  border : 0.2em solid black;
  padding : 0.1em;
}
#entete{  
	color : #980101;
	border: solid 0.1em #980101;
	height: 154px;
	padding: 0em;
	border-collapse: separate;
}
#pied{
  clear : both;
	border : solid 0.2em #980101;
	margin-left : 18%;
	margin-top : 1em;
	padding:0.4em;
	padding: 0.2em;
	border-collapse: separate;
}

#contenu{
	border: none;
	padding: 1.3em;	
	border-left :  groove 0.8em #980101;
  margin-top : 1.2em;
	margin-left: 18%;
/* permet de fixer une hauteur mini sur les navigateurs modernes */
  min-height:27em;
/* pour obtenir le même effet sur IE, sachant que si le contenu dépasse, il
"poussera" la hauteur en ne respectant pas la norme. On se joue de ses lacunes
*/
  height:27em;
}

/* pour rétablir le mauvais effet sur les nav. modernes */
html>body #contenu{
  height:auto;
}

#entete #logoGSB {
  float : left;
  width : 238px;
  height : 152px;
}

#entete h1 {
  margin : 1em;
  margin-left:6em;
  font-size : x-large;
  text-align:center;
}

#contenu pre {
  width:95%;
  overflow : scroll;
}
#contenu h2 {
  font-size : large;
  text-align:left;
  margin:0;
  margin-bottom:0.5em;
}

.logoValidW3c {
  display: inline;
}
#libValidW3c{
  display : inline;
  vertical-align:middle;
}

h5{
  color: #024457;
}

/* Style des formulaires */
.corpsForm {
  border : solid 0.1em #000;
  border-bottom-width:1px;
  margin-bottom : 0em;
  width : 95%;
}
.piedForm {
  border-bottom-width : 0.1em;
  border-left-width : 0.1em;
  border-right-width : 0.1em;
  border-top-width : 0em;
  border-style : solid;
  border-color : #000;
  text-align:right ;
  width : 95%;
  margin-top:0em;
}
form {
  margin-bottom:1em;  
}
.corpsForm legend {
  font-weight:bold;
  font-size:1.2em;
}
.corpsForm label{
  float: left;
  text-align:right;
  width:33%;
	margin: 0;
	padding: 0 .5em 0 0;
	line-height: 1.8;	
}
input, button, textarea, select{
  font-family:"Trebuchet MS", sans-serif;
  font-size : 1em;
}
button{
  width : 60px;
  height : 30px;
  text-align:center;
  vertical-align:middle;
}
input:hover, textarea:hover, select:hover{
  background-color : #FAFAE6;
  cursor : pointer;
}

/*  Le texte des messages d'erreur est de couleur rose sur fond ocre et de 
taille de caractères légèrement supérieure à la normale */
.erreur{ 
   background-color:rgb(237,210,229);
   color:rgb(203,28,128);
   font-size:1.1em;
   width:95%;
}
.centre {
  text-align:center;
}

.info {
   background-color:rgb(178,207,81);
   color : white;
   font-size:1.1em;
   width : 95%  
}

.encadre {
  border : solid 0.1em #000;
  width : 95%;
}
/* Style pour les liens de la page principale */
#contenu .corpsTexte {
  width:80%;
  font-size:1.2em;
}

/* Style pour les liens de la page principale */
#contenu a {
   font-size : 1.1em;
   color:gray;
   text-decoration:none;
}
#contenu a:hover {
   text-decoration:underline;
   background-color : #D9BB7A;
   font-size : 1em;
}

/* Style pour les parties importantes de la page principale */
#contenu strong {
  font-weight:bold;
}

/* Styles pour les tableaux de la page principale */
#contenu table {
   background-color:#FFF;
   border : 0.1em solid #777777;
   color:black;
   margin-right : auto ;
   margin-left:0.3em;
   border-collapse : collapse;
}

/* Style pour les lignes d'en-tête des tableaux */
#contenu th {  
   background-color:#77AADD;
   height:21px;
   text-align:left;
   vertical-align:top;
   font-weight:bold;
   border-bottom:0.1em solid #777777;
   font-size:1.1em;
} 

#contenu td {
   border :1px solid #777777;
}

#contenu h3 {
    font-size : 1.2em;
}
table.listeLegere {
/*    width:80%;*/
    margin-bottom : 0.5em;
}

/* Tableaux quadrillés utilisés pour l'affichage de listes avec contenu léger*/ 
table.listeLegere th, table.listeLegere td {
  border : dotted rgb(178,207,81) 0.1em;
  padding:0.5em;
  vertical-align : top;
  text-align : left;
}

table.listeLegere caption {
  font-size : 1.1em;
  text-align : left;
  margin-bottom : 0.3em;
}
table.listeLegere td {
  vertical-align:top;
  font-weight:normal;
}
table.listeLegere th.eltForfait{
  color:black;
}
table.listeLegere th.date, table.listeLegere th.montant{
  width:15%;
  color:black;
}
table.listeLegere th.libelle{
  width:70%;
  color:black;
}

#contenu h2 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #1D2941;
	text-decoration: none;
	border : 1px solid #6988BE;
	padding-left: 25px;
	background-color: #E9F1FE;
  height : 28px;
}

#contenu img {
  height : 28px;
  float : left;

}

#menu {
  padding: 0 45px 0 45px;
  position: relative;
  background: #209D9D url(images/img02.gif) repeat-x top left;
  margin: 0;
  height: 60px;
  width: 890px;
  border-top: solid 1px #5AD7D7;
  border-bottom: solid 1px #1C7575;
  text-shadow: 0 1px 1px #007D7D;
}

#menu ul {
  list-style: none;
  padding-top: 12px;
  position: relative;
  left: -15px;
}

#menu ul li {
  padding: 5px 15px 5px 15px;
  margin-right: 10px;
  display: inline-block;
}

#menu ul li a, #menu ul li span {
  text-decoration: none;
  color: #FFFFFF;
  letter-spacing: -1px;
  font-size: 1.25em;
}

#menu ul li span b {
  display: inline-block;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 7px solid #1C7575;
  margin-left: 8px;
  position: relative;
  top: -1px;
}

#menu ul li.active {
  background: #1C7575;
  border-top: solid 1px #1A6B6B;
  border-bottom: solid 1px #5AD7D7;
  border-radius: 3px;
  padding-top: 4px;
  padding-bottom: 4px;
}

#menu ul li.active span b {
  border-top-color: #165E5E;
}

br.clearfix {
  clear: both;
}

/*css de la page de connexion*/
.login {
    width:520px;
    left: 0;
    height: 100vh;
    background-color: #344A85;
    position: absolute;
    z-index: 2;
    color: white;
    font-family: Arial, sans-serif
}
.form {
    position: relative;
    margin-left: 5vw;
    top:50%;
    transform: translateY(-50%)
}
h1 {
    font-size: 35px;
    margin-bottom: 35px;
}
img {
    width: 5vw;
    margin-bottom:40px;
}

svg {
    height: 100vh;
    left: 30vw;
    position: absolute
}

/*************CHARACTER*************/
#visage {
    transform-origin: 50% 100%;   
    transform: rotate(0deg);
    animation: moveHead 5s 0s cubic-bezier(0.230, 1.000, 0.320, 1.000);  
}
/********************************
 ************* EYES *************
 ********************************/
.eyes {
    animation: removeEyes 18s 3s linear infinite;  
}
.eyesMove, .sourcils, .nez {
    animation: moveEyes 7s 0s linear infinite;  
}
/********************************
 ************* HAND *************
 ********************************/
#hand {
    animation: moveHand 10s cubic-bezier(0.860, 0.000, 0.070, 1.000) infinite;  
}
#handClick {
    transform: translateY(-2px);
    animation: handClick 10s cubic-bezier(0.230, 1.000, 0.320, 1.000) infinite;  
}
/********************************
 ************* FOOT *************
 ********************************/
#piedDroit {
    animation: footMove 10s 0s ease-in-out infinite;  
}
#shadowFoot {
    opacity: 0;
    animation: shadowFoot 10s 0s ease-in-out infinite;   
}
/********************************
 ************* HEAR *************
 ********************************/
.hear .outHearRight {
    animation: moveHearOutRight 7s 0s linear infinite;  
}
.hear .outHearLeft {
    animation: moveHearOutLeft 7s 0s linear infinite;  
    transform: translateX(1px)
}
.hear .inHearRight {
    animation: moveHearInRight 7s 0s linear infinite;  
}
.hear .inHearLeft {
    animation: moveHearInLeft 7s 0s linear infinite;  
        transform: translateX(1px)
}
/********************************
 ************* HAIR *************
 ********************************/
.backHair {
    animation: moveBackHair 7s 0s linear infinite;  
}
.frontHair {
    animation: moveFrontHair 7s 0s linear infinite;  
}
.pateLeft {
    animation: movePateLeft 7s 0s linear infinite;  
}
.pateRight {
    animation: movePateRight 7s 0s linear infinite;  
}
#shadowHead {
    animation: moveshadowHead 7s 0s linear infinite;  
}
/********************************
 ************* REST *************
 ********************************/
#logoComputer-2 {
    animation: lightComputer 2s linear infinite alternate;  
}
.vapeur {
    animation: vapeur 2.5s ease-in infinite;  
}
.vapeur:nth-child(5) {
    animation-delay:1s;  
}
.vapeur:nth-child(6) {
    animation-delay: 2s;  
}
#plane {
    animation: planeMove 8s cubic-bezier(0.480, 0.310, 0.615, 0.455) ;  
}
#fenetre {
}
/************* KEYFRAMES *************/

/********************************
 ************* FOOT *************
 ********************************/  
@keyframes footMove {
  40% {     transform: rotate(0deg);
    transform-origin: bottom right; }    
  41% {     transform: rotate(10deg);
    transform-origin: bottom right; }
  42% {     transform: rotate(0deg);
    transform-origin: bottom right; }
  43% {     transform: rotate(10deg);
    transform-origin: bottom right; }
  44% {     transform: rotate(0deg);
    transform-origin: bottom right; }
  45% {     transform: rotate(10deg);
    transform-origin: bottom right; }
  46% {     transform: rotate(0deg);
    transform-origin: bottom right; }
  47% {     transform: rotate(10deg);
    transform-origin: bottom right; }
  48% {     transform: rotate(0deg);
    transform-origin: bottom right; }
  49% {     transform: rotate(10deg);
    transform-origin: bottom right; }
  50% {     transform: rotate(0deg);
    transform-origin: bottom right; }
}
@keyframes shadowFoot {
  40% { opacity: 0; transform: scale(0.6);transform-origin: center;}    
  41% { opacity: 0.3;transform: scale(1);transform-origin: center;}
  42% { opacity: 0; transform: scale(0.6);transform-origin: center;}
  43% { opacity: 0.3;transform: scale(1);transform-origin: center;}
  44% { opacity: 0; transform: scale(0.6);transform-origin: center;}
  45% { opacity: 0.3;transform: scale(1);transform-origin: center;}
  46% { opacity: 0; transform: scale(0.6);transform-origin: center;}
  47% { opacity: 0.3;transform: scale(1);transform-origin: center;}
  48% { opacity: 0; transform: scale(0.6);transform-origin: center;}
  49% { opacity: 0.3;transform: scale(1);transform-origin: center;}
  50% { opacity: 0; transform: scale(0.6);transform-origin: center;}
}
/********************************
 ************* EYES *************
 ********************************/
@keyframes moveEyes {
  50% {transform: translateX(0px) }
  55% {transform: translate(-4px,4px)}
  60% {transform: translate(-4px,4px)}
  65% {transform: translate(4px,4px) }
  70% {transform: translate(4px,4px) }
  75% {transform: translateX(0px) }
}
@keyframes removeEyes {
  17% { r:3.43 }
  17.3% {r:0}
  17.6% { r:3.43 }
  70% { r:3.43 }
  70.3% {r:0}
  70.6% { r:3.43 }
  71.3% { r:3.43 }
  71.6% {r:0}
  71.9% { r:3.43 }
}
/********************************
 ************* HAIR *************
 ********************************/
@keyframes movePateLeft {
  50% {width: 3px }
  55% {width: 0px  }
  60% {width: 0px  }
  65% {width: 5px  }
  70% {width: 5px  }
  75% {width: 3px  }
}
@keyframes movePateRight {
  50% {width: 3px;transform:translateX(0px) }
  55% {width: 5px;transform:translateX(-2px) }
  60% {width: 5px;transform:translateX(-2px)  }
  65% {width: 0px;transform:translateX(2px)  }
  70% {width: 0px;transform:translateX(2px)  }
  75% {width: 3px;transform:translateX(0px)  }
}
@keyframes moveshadowHead {
  50% {width: 8px;transform:translateX(0px) }
  55% {width: 3px;transform:translateX(5px) }
  60% {width: 3px;transform:translateX(5px)  }
  65% {width: 9px;transform:translateX(-1px)  }
  70% {width: 9px;transform:translateX(-1px)  }
  75% {width: 8px;transform:translateX(0px)  }
}
@keyframes moveBackHair {
  50% {transform: translateX(0px) }
  55% {transform: translateX(2px) }
  60% {transform: translateX(2px) }
  65% {transform: translateX(-2px) }
  70% {transform: translateX(-2px) }
  75% {transform: translateX(0px) }
}
@keyframes moveFrontHair {
  50% {transform: translate(0px) }
  55% {transform: translate(-4px,4px) }
  60% {transform: translate(-4px,4px) }
  65% {transform: translate(4px,4px) }
  70% {transform: translate(4px,4px) }
  75% {transform: translate(0px) }
}
/********************************
 ************* HEAR *************
 ********************************/
@keyframes moveHearOutRight {
  50% {transform: translateX(0px)}
  55% {transform: translateX(1px)}
  60% {transform: translateX(1px)}
  65% {transform: translateX(-3px)}
  70% {transform: translateX(-3px)}
  75% {transform: translateX(0px)}
}
@keyframes moveHearOutLeft {
  50% {transform: translateX(1px)}
  55% {transform: translateX(4px)}
  60% {transform: translateX(4px)}
  65% {transform: translateX(0px)}
  70% {transform: translateX(0px)}
  75% {transform: translateX(1px)}
}
@keyframes moveHearInRight {
  50% {transform: translateX(0px)}
  55% {transform: translateX(1px)}
  60% {transform: translateX(1px)}
  65% {transform: translateX(-3px)}
  70% {transform: translateX(-3px)}
  75% {transform: translateX(0px)}
}
@keyframes moveHearInLeft {
  50% {transform: translateX(1px)}
  55% {transform: translateX(4px)}
  60% {transform: translateX(4px)}
  65% {transform: translateX(0px)}
  70% {transform: translateX(0px)}
  75% {transform: translateX(1px)}
}
/********************************
 ************* HAND *************
 ********************************/
@keyframes handClick {
  60% { transform: translateY(-2px) }
  61% { transform: translateY(-1px) }
  62% { transform: translateY(-2px) }
  63% { transform: translateY(-1px) }
  64% { transform: translateY(-2px) }
}
 @keyframes moveHand {
  52% { transform: translateX(0px) }
  54% { transform: translateX(2px) }
  56% {transform: translateX(-2px)}
  58% { transform: translateX(0px) }
} 

/********************************
 ************* REST *************
 ********************************/

@keyframes vapeur {
  0% { opacity: 1;transform: translateY(0px) }
  100% { opacity: 0;transform: translateY(-15px) }
}
@keyframes planeMove {
  100% { transform: translate(-550px, -120px) }
}
@keyframes lightComputer {
  0% { opacity: 1; }
  100% { opacity: 0; }
}

$shadow1 : 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
$shadow2 : 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
$shadow3 : 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
$shadow4 : 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
$shadow5 : 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);

*, *:before, *:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: white;
    display: flex;
    padding: 20px;
    min-height: 100vh;
    position: relative;
    flex-direction: column;
    justify-content: center;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background-color: #013967;
    background: linear-gradient(130deg, #013967 20%, #aaa 100%) no-repeat center center fixed;
}

.box {
    width: 90%;
    margin: auto;
    padding: auto;    
    border-radius: 2px;
    box-shadow: $shadow2;
    background-color: #013967;
}

h1 {
    font-weight: 100;
    letter-spacing: 1px;
    margin: 10px 0 20px 10px;
}

.input-group {
    font-size: 22px;
    padding: 5px 10px;
    padding-top: 30px;
    position: relative;
    border-radius: 2px;
    margin-bottom: 10px;
    box-shadow: $shadow1;
    background-color: rgba(0,0,0,0.1);
    
    input {
        width: 100%;
        border: none;
        outline: none;
        display: block;
        font-weight: 300;
        letter-spacing: 1px;
        background-color: transparent;
        
        &:focus,
        &.active {
            + label {
                top: 5px;
                left: 5px;
                font-size: 16px;
            }
        }
    }
    
    label {
        top: 30px;
        left: 10px;
        opacity: 0.7;
        font-weight: 100;
        position: absolute;
        letter-spacing: 2px;
        pointer-events: none;
        transition: all 0.2s ease-in;
    }
}

input[type="submit"] {
    border: none;
    float: right;
    outline: none;
    padding: 10px;
    font-weight: 300;
    border-radius: 2px;
    letter-spacing: 1px;
    box-shadow: $shadow1;
    text-transform: uppercase;
    background-color: rgba(255,255,255,0.2);
    transition: all 0.2s ease-in;
    
    &:hover,
    &:focus {
        box-shadow: #013967;
    }
}

/*fin de page de connexion*/

/*tableau affichage*/
body{
      margin-top: 50px;
      font-family: 'Trebuchet MS', serif;
      line-height: 1.6;
      color: #fff;
    }
    .container{
      width: auto;
      margin: 0 auto;
    }

    ul.tabs{
      margin: 0px;
      padding: 0px;
      list-style: none;
    }
    ul.tabs li{
      background: #033b6b;
      color: #fff;
      display: inline-block;
      padding: 10px 15px;
      cursor: pointer;
    }

    ul.tabs li.current{
      background: #0074d9;
      color: #fff;
    }

    .tab-content{
      display: none;
      background: #0074d9;
      padding: 15px;
    }

    .tab-content.current{
      display: inherit;
    }

.responstable {
  margin: 1em 0;
  width: 100%;
  overflow: hidden;
  background: #fff;
  color: #024457;
  border-radius: 10px;
  border: 1px solid #167f92;
}
.responstable tr {
  border: 1px solid #013967;
}
.responstable tr:nth-child(odd) {
  background-color: #fff;
}
.responstable th {
  display: none;
  border: 1px solid #fff;
  background-color: #013967;
  color: #fff;
  padding: 1em;
}
.responstable th:first-child {
  display: table-cell;
  text-align: center;
}
.responstable th:nth-child(2) {
  display: table-cell;
}
.responstable th:nth-child(2) span {
  display: none;
}
.responstable th:nth-child(2):after {
  content: attr(data-th);
}
@media (min-width: 480px) {
  .responstable th:nth-child(2) span {
    display: block;
  }
  .responstable th:nth-child(2):after {
    display: none;
  }
}
.responstable td {
  display: block;
  word-wrap: break-word;
  max-width: 7em;
}
.responstable td:first-child {
  display: table-cell;
  text-align: center;
  border-right: 1px solid #d9e4e6;
}
@media (min-width: 480px) {
  .responstable td {
    border: 1px solid #d9e4e6;
  }
}
.responstable th,
.responstable td {
  text-align: left;
  margin: 0.5em 1em;
}
@media (min-width: 480px) {
  .responstable th,
  .responstable td {
    display: table-cell;
    padding: 1em;
  }
}


/*fin tableau*/
